/* Panels */

.panel {
    border: #003298 solid;
    border-width: 1px 1px 1px 4px;
    margin: 21px 0;
}

.panel-content {
    padding: 16px;
}

.panel-item {
    padding: 0;
}

/* Utilities */

.break-all {
    word-break: break-all;
}
