APP_NAME="Solidaires Informatique - Adhésion"
APP_ENV=production
APP_KEY=base64:{{ adhesion_app_key }}
APP_DEBUG=false
APP_URL=https://adhesion.solidairesinformatique.org
APP_LOCALE=fr

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=adhesion
DB_USERNAME=adhesion
DB_PASSWORD={{ adhesion_bdd_password }}

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
QUEUE_CONNECTION=sync
SESSION_DRIVER=database
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD={{ redis_password }}
REDIS_PORT=6379

MAIL_MAILER=array

SIRENE_API_KEY={{ SIRENE_API_KEY }}
SIRENE_API_SECRET={{ SIRENE_API_SECRET }}

